<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title|default="页面标题"}</title>
<!--        <link rel="stylesheet" href="/static/css/bootstrap.min.css">-->
<!--        <script src="/static/js/jquery-3.4.1.min.js"></script>-->
<!--        <script src="/static/js/bootstrap.js"></script>-->
<!--        <script src="/static/js/nicEdit.js"></script>-->
    {load href="/tp5.1/public/static/css/bootstrap.min.css"}
    {load href="/tp5.1/public/static/js/jquery-3.4.1.min.js"}
    {load href="/tp5.1/public/static/js/bootstrap.js"}
    {load href="/tp5.1/public/static/js/nicEdit.js"}
    {load href="/tp5.1/public/static/css/comment.css"}

</head>
<body>
<div class="container">
